body {
	background: rgba(112, 128, 144, 0.6);
	color: #12082b;
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url('../123.jpg');
	background-size:cover ;
  }
  
  .movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
  }
  
  #rightbox > table tr th {
	width: 150px;
	text-align: left;
	padding: 5px;
  }
  
  #posterImg {
	position: absolute;
	height: 100%;
	width: 100%;
  }
  
  .image-container {
	height: 300px;
	width: 150px;
	margin: 25px;
	position: relative;
	transition: transform 0.2s;
  }
  
  .image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
  }
  
  .image-container:hover .overlay {
	opacity: 1;
  }
  
  .overlay {
	position: absolute;
	background: rgba(124, 106, 106, 0.8);
	width: 100%;
	transition: 0.8s ease;
	opacity: 0;
	bottom: 0;
	font-size: 15px;
	padding: 20px;
	text-align: center;
  }
  .image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    animation: fadeIn 0.9s ease-in-out;
    opacity: 1;
}

  @keyframes fadeInOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
  #searchBar {
	width: 100%;
	padding: 8%;
  }
  
  #singleMovie {
	padding: 4%;
	width: 100%;
	background-image: url('../abc.jpg');
	background-size: cover;
	opacity: 1;
  }
  
  #singleMovieImg {
	width: 100%;
  }
  
  #rightbox {
	float: none;
	width: 100%;
	font-size: medium;
  }
  
  #leftbox {
	padding-left: 2%;
	width: 100%;
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
  }
  
  /* Responsive Navbar */
  @media only screen and (max-width: 600px) {
	#leftbox,
	#rightbox {
	  max-width: 100%;
	}
  }
  
  /* width */
  ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(92, 78, 78);
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(255, 0, 0, 0.5);
	border-radius: 10px;
  }
  